@model HouseRent.RelationalServices.Domain.HouseModel.House
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 align="center" style="margin-top: 50px">House Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="padding: 20px">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            <img style="width:65%" src="@Model.ImgURL" alt="Image could not be found" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceOfHouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceOfHouse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceOfRentPerDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceOfRentPerDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuestsCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuestsCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFloors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 0 0 295px 25px">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
