@model HouseRent.UserServices.Domain.Admin
@{
    ViewBag.Title = "Details";
}
<h2 align="center" style="margin-top: 50px">Admin Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal" style="padding: 20px">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p style="margin: 0 0 350px 25px">
    @Html.ActionLink("Back to List", "Index")
</p>
